@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #202020;
}

@keyframes scroll {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-123%);
  }
}

.animate-scroll {
  animation: scroll 20s linear infinite;
}